{% extends "layout.html" %}
{% block body %}

<div class="block1">
    <h1 style="text-align: center;">Congratulations!!</h1>
    <h1>Application deployed SUccessfully</h1>
    <BR>
    <h2 style="text-align: center;">Jenkins - AWS CodeBuild - AWS CodeDeploy</h2>

    &nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="https://josephinf.files.wordpress.com/2012/09/funny-iphone-wallpaper-success-0011.jpg"
        width="527" height="277" />
</div>
<p>{% endblock %}</p>
